<div class="text-center">
    <h4 class="text-danger"> You don't have permission to see this resource</h4>
    <img src="~/images/png-clipart-graphy-amazon-com-access-denied-trademark-logo-thumbnail-removebg-preview.png" />
</div>